<!doctype html>
<html layout:decorator="layouts/main">
<body>
	<div layout:fragment="contentFragment">
		<div class="container" th:object="${shop}">
			<a th:href="@{/shop/{id}/products/addnewproduct(id=${shop.id})}"
				class="btn btn-sm btn-info">Add new product</a>
			<div class="row">
				<div class="col-md-4" th:each="product : ${products}">
					<div class="card mb-4 shadow-sm">
						<svg class="bd-placeholder-img card-img-top" width="100%"
							height="225" xmlns="http://www.w3.org/2000/svg"
							preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
							aria-label="Placeholder: Thumbnail">
							<title>Placeholder</title><rect width="100%" height="100%"
								fill="#55595c" />
							<text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
						<div class="card-body">
							<h5 class="card-title" th:text="${product.name}">Card title</h5>
							<h6 class="card-subtitle mb-2 text-muted"
								th:text="${product.price}">Card subtitle</h6>
							<p class="card-text" th:utext="${product.description}">Some
								quick example text to build on the card title and make up the
								bulk of the card's content.</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
									<a
										th:href="@{/shop/{shopid}/products/edit/{id}(shopid=${shop.id},id=${product.id})}"
										class="btn btn-sm btn-info">Edit</a> <a
										th:href="@{/shop/{shopid}/products/delete/{productid}(shopid=${shop.id},productid=${product.id})}"
										class="btn btn-sm btn-error">Delete</a>
								</div>
								<small class="text-muted">9 mins</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
