<!doctype html>
<html layout:decorator="layouts/main">
<body>
	<div layout:fragment="contentFragment">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="state : ${states}">
					<td th:text="${state.countyName}">Mark</td>
					<td>
						<a th:href="@{/state/{id}/products(id=${state.id})}" class="btn btn-sm btn-info">List shops</a>
					</td>
				</tr>
			</tbody>
		</table>
		<a  class="btn btn-sm btn-info">Add new shop</a>
	</div>
</body>
</html>
