<!doctype html>
<html layout:decorator="layouts/main">
<body>
	<div layout:fragment="contentFragment">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
					<div class="card card-signin my-5">
						<div class="card-body">
							<h5 class="card-title text-center">Edit product</h5>
							<form action="#"
								th:action="@{/shop/{shopId}/products/update/{productId}(shopId=${product.shop.id},productId=${product.id})}"
								th:object="${product}" method="post">
								<div class="row">
									<div class="form-group col-md-6">
										<label for="name" class="col-form-label">Name</label> <input
											type="text" th:field="*{name}" class="form-control" id="name"
											placeholder="Name"> <label for="price"
											class="col-form-label">Price</label> <input type="text"
											th:field="*{price}" class="form-control" id="price"
											placeholder="Price"> <label for="description"
											class="col-form-label">Description</label> <input type="text"
											th:field="*{description}" class="form-control"
											id="description" placeholder="Description"> <span
											th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
											class="text-danger"></span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 mt-5">
										<input type="submit" class="btn btn-primary"
											value="Edit product">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>